<%- include ../partials/header.ejs %>
    <h1>Create Book</h1>
    <form method="POST" action="/books/create">
      <div>
        Title: <input name="title">
      </div>
      <div>
        Image URL: <input name="imgUrl">
      </div>
      <div>
        Price: <input name="price">
      </div>
      <div>
        In Stock: <input name="inStock">
      </div>
      <div>
        ISBN: <input name="isbn">
      </div>
      <div>
        Publisher: <input name="publisher">
      </div>
    <h3>Author</h3>
      <button class="add-author-input">Add Author</button>
    <h3>Genres</h3>
      <button class="add-genre-input">Add Genre</button>
      <div>
        <input type="submit" value="Submit">
      </div>
    </form>


<%- include ../partials/footer.ejs %>
