<div class="modal-overlay"></div>
  <div class="modal">
    <span class="close">&times;</span>
    <div class="modal-inner">
      <h1>Shopping Cart</h1>
      <ul class="modal-list">
      </ul>
    </div>
    <span class="total">Total: $0.00</span>
  </div>
